# --- Environnements virtuels ---
venv/
.env/
.venv/

# --- Caches Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Logs ---
*.log

# --- Fichiers temporaires ---
*.tmp
*.temp

# --- Configs locales ---
*.env
*.ini
*.cfg

# --- Jupyter ---
.ipynb_checkpoints/

# --- Outils ---
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# --- OS files ---
.DS_Store
Thumbs.db
